// 웹폰트
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

// BreakPoints
@mixin mq($point) {
  @if $point == pc {
    @media (min-width: 2000px) {
      @content;
    }
  }
  @if $point == tablet_pc {
    @media (min-width: 769px) and (max-width:1999px){
      @content;
    }
  }
  @if $point == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
}
.hidden-xs {
  @include mq(mobile) {
    display: none;
  }
}
.visible-xs{
  display: none;
  @include mq(mobile){
    display: block;
  }
}

// 전체설정
*{box-sizing: border-box;}

html,body {margin: 0; padding: 0; font-size: 6.25%;height: 100%;width: 100%;
  font-family:'Spoqa Han Sans Neo'; box-sizing: border-box;}
h1,p,ul {  margin: 0;  padding: 0;}
li {list-style: none;}
a {color: #000;text-decoration: none !important;}
.left {float: left !important;}
.right {float: right !important;}
.clear {clear: both;}
p {margin: 0;padding: 0;word-break: break-all;word-wrap: break-word;}
b {font-weight: bold;}
br {font-family: 'Spoqa Han Sans Neo' !important;}
em, address, i, q{font-style: normal;}
ul, ol{
  list-style: none;
}
h1, h2, h3, h4, h5, h6{margin: 0;}
.text-c{text-align: center;}
.text-l{text-align: left;}
.text-r{text-align: right;}

// 폰트, 컬러설정
.fz16{font-size: 16rem;}
.fz18{font-size: 18rem;}
.fz19{font-size: 19rem;}
.fz24{font-size: 24rem;}
.fz28{font-size: 28rem;}
.fz30{font-size: 30rem;}
.fz40{font-size: 40rem;}

.line_h{line-height: 1.6em;}

.fc01{color: #fff;}

.fw300{font-weight: 300;}
.fw400{font-weight: 400;}
.fw500{font-weight: 500;}
.fw600{font-weight: 600;}
.fw700{font-weight: 700;}
.fw800{font-weight: 800;}
.fw900{font-weight: 900;}



// 공통
.section{
  padding: 150rem 0;
  width: 100%;
  height: auto;
}
.w-1400{
  // position: relative;
  margin: 0 auto;
  width: 1400rem;
  // min-height: 300rem;
  @include mq(mobile){
    width: 100%;
  }
}
.mt-100{margin-top: 100rem;}
.mt-50{margin-top: 50rem;}

.flex_box{
  display: flex;
  @include mq(mobile){
    flex-direction: column;
  }
}

//헤더
#header{
  position: fixed;
  z-index: 999;
  top: 0;
  padding: 0 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100rem;
  background-color: #fff;
  box-shadow: 0 3rem 5rem rgba(0,0,0,0.07);
  .logo_wrap{
    width: 200rem;
    height: 80rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .nav{
    width: 1400rem;
    height: 100%;
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      li{
        padding: 0 50rem;
      }
    }
  }
}

//메인 슬라이드
.main_slide{
  width: 100%;
  height: 100vh;
  .swiper-wrapper{
    width: 100%;
    height: 100%;
    .swiper-slide{
      width: 100%;
      height: 100%;
      background-color: #c4c4c4;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//그리드 메뉴
.grid_menu{
  // height: 560rem;
  column-gap: 10rem;
  @include mq(mobile){
    // height: 1400rem;
    // justify-content: center;
    height: auto;
    align-items: center;
    row-gap: 10rem;
  }
  .box01{
    width: 545rem;
    height: 560rem;
    background-color: maroon;
    @include mq(mobile){
      width: 100vw;
      height: 100vw;
    }
  }
  .box02{
    width: 845rem;
    height: 560rem;
    @include mq(mobile){
      width: 100%;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 10rem;
      @include mq(mobile){
        width: 100%;
      }
      li{
        width: 275rem;
        height: 275rem;
        background: #c4c4c4;
        @include mq(mobile){
          width: 45vw;
          height: 45vw;
        }
      }
    }
  }
}

//빠른이동메뉴
.quick_section{
  .w-1400{
    display: flex;
    justify-content: space-between;
    .section_title{
      width: 20%;
    }
    .quick_menu_wrap{
      width: 1050rem;
      ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        li{
          padding: 20rem ;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 10rem;
          justify-content: space-between;
          position: relative;
          border-radius: 50rem;
          width: 100rem;
          height: 150rem;
          transition: all ease 0.3s;
          &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            background-color: #f3f3f3;
            width: 100rem;
            height: 100rem;
            border-radius: 50rem;
            transition: all ease 0.3s;
          }
          &.on{
            &::after{
              display: none;
            }
            p{
              color: #fff;
            }
            background-color: #073595;
            border-radius: 50rem;
          }
          &:hover{
            cursor: pointer;
            &::after{
              display: none;
            }
            p{
              color: #fff;
            }
            background-color: #073595;
            border-radius: 50rem;
          }
          .img_wrap{
            width: 60rem;
            height: 60rem;
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

//se03
.se03{
  .section_title{
    width: 35%;
  }
  .section_contents{
    width: 65%;
    #tabs{
      position: relative;
      width: 100%;
      .tabmenu_wrap{
        float: left;
      }
      .tabmenu{
        width: 300rem;
        height: 160rem;
        a{
          padding: 40rem;
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
      .con_wrap{
        float: right;
        width: 70%;
        height: 480rem;
        background-color: #c4c4c4;
        .tab_content{
          width: 100%;
          height: auto;
          .img_wrap{
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
  background-color: #1F77A5;
  width: 400rem !important;
  height: 160rem !important;
}
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
//제이쿼리 탭 스타일 해제
.ui-widget.ui-widget-content{
  border: none !important;
}
.ui-tabs .ui-tabs-nav li{
  margin: 0;
  padding: 0;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover{
  border: none !important;
  background: none !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active{
  border: none !important;
  background: #c4c4c4;
}
.ui-widget-header{
  border: none !important;
  background: none !important;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after{
  display: none !important;
}
.ui-tabs .ui-tabs-nav li{
  margin: 0 !important;
}

//의료진 슬라이드
.doc_slide{
  .swiper{
    margin-top: 70rem;
    width: 100%;
    height: 300rem;
    .swiper-wrapper{
      width: 100%;
      height: 100%;
      .swiper-slide{
        width: 320rem !important;
        height: 300rem;
        .img_wrap{
          width: 100%;
          height: 240rem;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        p{
          margin-top: 25rem;
          span{
            margin-right: 20rem;
            display: inline-block;
            width: 110rem;
            height: 30rem;
            background-color: #073595;
            color: #fff;
          }
        }
      }
    }
  }
}

//se07
.se07{
  .w-1400{
    position: relative;
  }
  .map{
    width: 100%;
    height: 500rem;
    background-color: #c4c4c4;
  }
  .location{
    position: absolute;
    bottom: -70rem;
    right: 0;
    z-index: 10;
    width: 700rem;
    height: 300rem;
    background-color: #073595;
  }
}

//se06
.se06{
  .flex_box{
    margin-top: 40rem;
    width: 100%;
    justify-content: space-between;
    .box{
      width: 440rem;
      height: 320rem;
      background-color: #c4c4c4;
    }
  }
}

//se08
.se08{
  overflow: hidden;
  .box{
    display: flex;
    justify-content: space-between;
    float: right;
    width: 50%;
    height: 80rem;
    .banner{
      padding: 20rem;
      display: flex;
      align-items: center;
      column-gap: 20rem;
      width: 340rem;
      height: 80rem;
      .img_wrap{
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .naver{
      background-color: #2DB400;
      .img_wrap{
        width: 40rem;
        height: 40rem;
      }
    }
    .insta{
      background: linear-gradient(315deg, #B44199 10%, #F03F4B 90%, #EC3286);
      .img_wrap{
        width: 40rem;
        height: 40rem;
      }
    }
  }
}
