@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
}

.visible-xs {
  display: none;
}

@media (max-width: 768px) {
  .visible-xs {
    display: block;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 6.25%;
  height: 100%;
  width: 100%;
  font-family: 'Spoqa Han Sans Neo';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, p, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clear {
  clear: both;
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
}

b {
  font-weight: bold;
}

br {
  font-family: 'Spoqa Han Sans Neo' !important;
}

em, address, i, q {
  font-style: normal;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.text-c {
  text-align: center;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.fz16 {
  font-size: 16rem;
}

.fz18 {
  font-size: 18rem;
}

.fz19 {
  font-size: 19rem;
}

.fz24 {
  font-size: 24rem;
}

.fz28 {
  font-size: 28rem;
}

.fz30 {
  font-size: 30rem;
}

.fz40 {
  font-size: 40rem;
}

.line_h {
  line-height: 1.6em;
}

.fc01 {
  color: #fff;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.section {
  padding: 150rem 0;
  width: 100%;
  height: auto;
}

.w-1400 {
  margin: 0 auto;
  width: 1400rem;
}

@media (max-width: 768px) {
  .w-1400 {
    width: 100%;
  }
}

.mt-100 {
  margin-top: 100rem;
}

.mt-50 {
  margin-top: 50rem;
}

.flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .flex_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#header {
  position: fixed;
  z-index: 999;
  top: 0;
  padding: 0 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100rem;
  background-color: #fff;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.07);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.07);
}

#header .logo_wrap {
  width: 200rem;
  height: 80rem;
}

#header .logo_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#header .nav {
  width: 1400rem;
  height: 100%;
}

#header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#header .nav ul li {
  padding: 0 50rem;
}

.main_slide {
  width: 100%;
  height: 100vh;
}

.main_slide .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.main_slide .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-color: #c4c4c4;
}

.main_slide .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid_menu {
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
}

@media (max-width: 768px) {
  .grid_menu {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10rem;
  }
}

.grid_menu .box01 {
  width: 545rem;
  height: 560rem;
  background-color: maroon;
}

@media (max-width: 768px) {
  .grid_menu .box01 {
    width: 100vw;
    height: 100vw;
  }
}

.grid_menu .box02 {
  width: 845rem;
  height: 560rem;
}

@media (max-width: 768px) {
  .grid_menu .box02 {
    width: 100%;
  }
}

.grid_menu .box02 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10rem;
}

@media (max-width: 768px) {
  .grid_menu .box02 ul {
    width: 100%;
  }
}

.grid_menu .box02 ul li {
  width: 275rem;
  height: 275rem;
  background: #c4c4c4;
}

@media (max-width: 768px) {
  .grid_menu .box02 ul li {
    width: 45vw;
    height: 45vw;
  }
}

.quick_section .w-1400 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quick_section .w-1400 .section_title {
  width: 20%;
}

.quick_section .w-1400 .quick_menu_wrap {
  width: 1050rem;
}

.quick_section .w-1400 .quick_menu_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.quick_section .w-1400 .quick_menu_wrap ul li {
  padding: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-radius: 50rem;
  width: 100rem;
  height: 150rem;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.quick_section .w-1400 .quick_menu_wrap ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  background-color: #f3f3f3;
  width: 100rem;
  height: 100rem;
  border-radius: 50rem;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.quick_section .w-1400 .quick_menu_wrap ul li.on {
  background-color: #073595;
  border-radius: 50rem;
}

.quick_section .w-1400 .quick_menu_wrap ul li.on::after {
  display: none;
}

.quick_section .w-1400 .quick_menu_wrap ul li.on p {
  color: #fff;
}

.quick_section .w-1400 .quick_menu_wrap ul li:hover {
  cursor: pointer;
  background-color: #073595;
  border-radius: 50rem;
}

.quick_section .w-1400 .quick_menu_wrap ul li:hover::after {
  display: none;
}

.quick_section .w-1400 .quick_menu_wrap ul li:hover p {
  color: #fff;
}

.quick_section .w-1400 .quick_menu_wrap ul li .img_wrap {
  width: 60rem;
  height: 60rem;
}

.quick_section .w-1400 .quick_menu_wrap ul li .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.se03 .section_title {
  width: 35%;
}

.se03 .section_contents {
  width: 65%;
}

.se03 .section_contents #tabs {
  position: relative;
  width: 100%;
}

.se03 .section_contents #tabs .tabmenu_wrap {
  float: left;
}

.se03 .section_contents #tabs .tabmenu {
  width: 300rem;
  height: 160rem;
}

.se03 .section_contents #tabs .tabmenu a {
  padding: 40rem;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.se03 .section_contents #tabs .con_wrap {
  float: right;
  width: 70%;
  height: 480rem;
  background-color: #c4c4c4;
}

.se03 .section_contents #tabs .con_wrap .tab_content {
  width: 100%;
  height: auto;
}

.se03 .section_contents #tabs .con_wrap .tab_content .img_wrap {
  width: 100%;
  height: 100%;
}

.se03 .section_contents #tabs .con_wrap .tab_content .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  background-color: #1F77A5;
  width: 400rem !important;
  height: 160rem !important;
}

.ui-tabs-vertical {
  width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em;
}

.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em;
  float: right;
  width: 40em;
}

.ui-widget.ui-widget-content {
  border: none !important;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
  padding: 0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: none !important;
  background: none !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none !important;
  background: #c4c4c4;
}

.ui-widget-header {
  border: none !important;
  background: none !important;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  display: none !important;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0 !important;
}

.doc_slide .swiper {
  margin-top: 70rem;
  width: 100%;
  height: 300rem;
}

.doc_slide .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.doc_slide .swiper .swiper-wrapper .swiper-slide {
  width: 320rem !important;
  height: 300rem;
}

.doc_slide .swiper .swiper-wrapper .swiper-slide .img_wrap {
  width: 100%;
  height: 240rem;
}

.doc_slide .swiper .swiper-wrapper .swiper-slide .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.doc_slide .swiper .swiper-wrapper .swiper-slide p {
  margin-top: 25rem;
}

.doc_slide .swiper .swiper-wrapper .swiper-slide p span {
  margin-right: 20rem;
  display: inline-block;
  width: 110rem;
  height: 30rem;
  background-color: #073595;
  color: #fff;
}

.se07 .w-1400 {
  position: relative;
}

.se07 .map {
  width: 100%;
  height: 500rem;
  background-color: #c4c4c4;
}

.se07 .location {
  position: absolute;
  bottom: -70rem;
  right: 0;
  z-index: 10;
  width: 700rem;
  height: 300rem;
  background-color: #073595;
}

.se06 .flex_box {
  margin-top: 40rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.se06 .flex_box .box {
  width: 440rem;
  height: 320rem;
  background-color: #c4c4c4;
}

.se08 {
  overflow: hidden;
}

.se08 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
  width: 50%;
  height: 80rem;
}

.se08 .box .banner {
  padding: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20rem;
          column-gap: 20rem;
  width: 340rem;
  height: 80rem;
}

.se08 .box .banner .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.se08 .box .naver {
  background-color: #2DB400;
}

.se08 .box .naver .img_wrap {
  width: 40rem;
  height: 40rem;
}

.se08 .box .insta {
  background: linear-gradient(315deg, #B44199 10%, #F03F4B 90%, #EC3286);
}

.se08 .box .insta .img_wrap {
  width: 40rem;
  height: 40rem;
}
